In [6]:
#Coded by Arunkumar
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.datasets
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn import metrics

import the Boston House price dataset

In [8]:
house_price_dataset=pd.read_csv('boston.csv')

In [9]:
print(house_price_dataset)

     Unnamed: 0     CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  \
0             0  0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0
1             1  0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0
2             2  0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0
3             3  0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0
4             4  0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0
..          ...      ...   ...    ...   ...    ...    ...   ...     ...  ...
501         501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0
502         502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0
503         503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0
504         504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0
505         505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8  2.5050  1.0

       TAX  PTRATIO       B  LSTAT  PRICE
0    296.0     15.3  396.90   4.98   24.0
1    242.0     17.8  396.90   9.14   21.6
2    242.0     17.8  392.83   4.03   34.7
3    222.0     18.7  394.63   2.94   33.4
4    222.0     18.7  396.90   5.33   36.2
..     ...      ...     ...    ...    ...
501  273.0     21.0  391.99   9.67   22.4
502  273.0     21.0  396.90   9.08   20.6
503  273.0     21.0  396.90   5.64   23.9
504  273.0     21.0  393.45   6.48   22.0
505  273.0     21.0  396.90   7.88   11.9

[506 rows x 15 columns]

In [10]:
house_price_dataset.head()

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [11]:
house_price_dataset.shape

(506, 15)

In [12]:
#checking the missing values
house_price_dataset.isnull().sum()

Unnamed: 0    0
CRIM          0
ZN            0
INDUS         0
CHAS          0
NOX           0
RM            0
AGE           0
DIS           0
RAD           0
TAX           0
PTRATIO       0
B             0
LSTAT         0
PRICE         0
dtype: int64

In [13]:
#statistical measures
house_price_dataset.describe()

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,252.500000,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,146.213884,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.000000,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,126.250000,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,252.500000,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,378.750000,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,505.000000,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

Understaniding the corelations between various features in the dataset

Positive Corelation and
Negetive Corelation

In [16]:
correlation=house_price_dataset.corr()

In [ ]:
#constructing a heatmap to understand the correlation
plt.figure(figsize=(8,8))
sns.heatmap(correlation,cbar=True,square=True,fmt='.1f',annot=True,annot_kws={'size':8},cmap='Blues')

Splitting the labels

In [ ]:
X=house_price_dataset.drop('PRICE',axis=1)
Y=house_price_dataset['PRICE']

In [ ]:
#train test splitting
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=2)

In [ ]:
print(X.shape,X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)

Model Training

XGboost Regressor

In [ ]:
#loading the model
model=XGBRegressor()

In [ ]:
#training the model with X_train
model.fit(X_train,Y_train)

Evaluation

In [ ]:

#accuracy on prediction on training data
training_data_prediction=model.predict(X_train)

In [ ]:
print(training_data_prediction)

In [ ]:
# R squared error
score_1=metrics.r2_score(Y_train,training_data_prediction)

#mean absoplute error
score_2=metrics.mean_absolute_error(Y_train,training_data_prediction)#should not be above 5 or 10

In [ ]:
print(score_1,score_2)

Visualizing the actual prices and predictd proces

In [ ]:
plt.scatter(Y_train,training_data_prediction)
plt.xlabel('Actual prices')

Test Data Prediction

In [ ]:
prediction=model.predict(X_test)

In [ ]:
# R squared error
score_1=metrics.r2_score(Y_test,prediction)

#mean absoplute error
score_2=metrics.mean_absolute_error(Y_test,prediction)#should not be above 5 or 10# R squared error

In [ ]:
print(score_1,score_2)